<div id="wrap">
	<div id="header-region">
		<header>	
			<div class="contain-to-grid">
				<nav class="top-bar">
					<ul class="title-area">
						<li class="name">
							<h1>
								<a href="#">
									<span id="logo">
										<img src="assets/ship.png" />
									</span>
									Planet Express
								</a>
							</h1>
				    	</li>
					</ul>
					<section class="top-bar-section">
				    	<ul class="right">
							<li class="divider"></li>
					      	<li>
								<a href="#">
									<i class="general foundicon-graph"></i> 
									Dashboard
								</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">
									<i class="social foundicon-torso"></i> 
									Crew
								</a>
							</li>
							<li class="divider"></li>
						</ul>
				  	</section>
				</nav>
			</div>
		</header>
	</div>
	<div id="main-region">
		<div id="crew-list">
			<div id="page-title">
				<div class="row">
					<div class="large-12 columns">
						<h1>Crew</h1>
						<h4>The Crew Members of Planet Express</h4>
						<div id="page-icons">
							<i class="accessibility foundicon-person"></i>
							<i class="accessibility foundicon-person"></i>
							<i class="accessibility foundicon-person"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="breadcrumbs">
				<div class="row">
					<div class="columns large-12">
						<ul class="right">
							<li>
								<a href="#">Home</a>
							</li>
							<li class="unavailable">
								<a href="#">Crew</a>
							</li>
							<li class="current">
								<a href="#">Fry</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<section>
				<div class="row">
					<div class="large-12 columns">
						<div class="left">
							<button id="new-crew" class="button radius small secondary">
								<i class="general-enclosed foundicon-plus"></i>
								Add
							</button>
						</div>
						<div class="right">
							<dl class="sub-nav">
								<dt>Sort:</dt>
								<dd class="active">
									<a href="#">Name</a>
								</dd>
								<dd>
									<a href="#">Title</a>
								</dd>
							</dl>
						</div>
					</div>
					<div class="large-12 columns">
						<form data-type="new">
							<div class="panel radius">
								<div id="new-crew">
									<div class="row">
										<div class="large-12 columns">
											<label>What's their name?</label>
											<input type="text" placeholder="Crew Member Name" class="large-6 columns" />
										</div>
									</div>
								</div>
								<footer>
									<ul class="inline-list">
										<li>
											<button data-form-button="primary" class="button small radius">Save</button>
										</li>
										<li>
											<button data-form-button="cancel" class="button small secondary radius">Cancel</button>
										</li>
									</ul>
								</footer>
							</div>
						</form>
					</div>
				</div>
			</section>
			<div class="row">
				<div class="large-12 columns text-center">
					<div class="panel radius">
						<h2>
							<small>No Crew Members Found!</small>
						</h2>
						<p class="subheader">Add a crew member to get started.</p>
					</div>
				</div>
			</div>
			<section>
				<div class="large-12 columns">
					<div class="row">
						<ul class="large-12 columns">
							<li class="crew-member">
								<div class="large-3 columns text-center">
									<a class="th radius" href="#">
										<img src="assets/fry.jpg" />
									</a>
								</div>
								<div class="large-9 columns stats-container">
									<div class="row">
										<div class="large-6 columns">
											<div class="row">
												<div class="large-5 columns attribute-label">Age</div>
												<div class="large-7 columns">24</div>
											</div>
											<div class="row">
												<div class="large-5 columns attribute-label">Name</div>
												<div class="large-7 columns">Philip Fry</div>
											</div>
											<div class="row">
												<div class="large-5 columns attribute-label">Title</div>
												<div class="large-7 columns">Delivery Boy</div>
											</div>
											<div class="row">
												<div class="large-5 columns attribute-label">Species</div>
												<div class="large-7 columns">Human</div>
											</div>
											<div class="row">
												<div class="large-5 columns attribute-label">Origin</div>
												<div class="large-7 columns">Earth</div>
											</div>
										</div>
										<div class="large-6 columns">
											<blockquote>
												<ul class="large-block-grid-2 text-center stats">
													<li>
														<div>
															<span class="label round">5</span>
														</div>
														<div class="stat-type">Completed</div>
													</li>
													<li>
														<div>
															<span class="label round success">$5,000</span>
														</div>
														<div class="stat-type">Earnings</div>
													</li>
												</ul>
											</blockquote>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div id="push"></div>
</div>
<div id="footer-region">
	<footer>
		<div class="row">
			<div class="columns">
				<h6 class="subheader">BackboneRails.com - Planet Express - Episode 07</h6>
			</div>
		</div>
	</footer>
</div>
